<div
  class="max-w-sm rounded overflow-hidden shadow-lg">
<a
  [routerLink]="[title]"
>
  <img class="w-full" src="'../../assets/{{directory}}"  alt=""/>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{title}}</div>
  </div>
</a>
</div>
