<div class="flex flex-col items-center">
  <app-detailed-card [info]="article1"></app-detailed-card>
  <a routerLink="/subscribe" class="pt-4">
    <app-button [text]="'Subscribe to read more'"></app-button>
  </a>
</div>
